
.tap-display {
    width: 94%;
    height: 98%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-areas: "times actions";
    grid-template-columns: 1fr 4em;
}

.tap-display .times {
    grid-area: times;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tap-display .times .time {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: white;
    margin-bottom: 2%;
}

.tap-display .times .selected {
    background-color: dimgray;
}

.tap-display .actions {
    grid-area: actions;
}

.tap-display .actions button {
    margin-left: 0.5em;
    margin-bottom: 2%;
}
