<div class="tap-display">
    <div class="times" (wheel)="captureScroll($event)">
        <div class="time no-select" [class.selected]="time.selected" (click)="time.selected = !time.selected" *ngFor="let time of times">
            {{showTime(time)}}
        </div>
    </div>
    <div class="actions">
        <button (click)="selectAll()" [matTooltip]="'Select all times'" [matTooltipClass]="'app-tooltip'" mat-icon-button color="primary">
            <i class="fa fa-plus-square fa-3x" aria-hidden="true" aria-label="Select all times"></i>
        </button>
        <button (click)="deselectAll()" [matTooltip]="'Deselect all times'" [matTooltipClass]="'app-tooltip'" mat-icon-button color="primary">
            <i class="fa fa-minus-square fa-3x" aria-hidden="true" aria-label="Deselect all times"></i>
        </button>
        <button (click)="createNotes()" [matTooltip]="'Create notes from selected times'" [matTooltipClass]="'app-tooltip'" mat-icon-button color="primary">
            <i class="fa fa-angle-double-right fa-3x" aria-hidden="true" aria-label="Create notes from selected times"></i>
        </button>
    </div>
</div>
