
.event-controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-controls .info {
    order: 1;
}

.event-controls .info label {
    width: 35%;
    margin-left: 5%;
}

.event-controls .info input {
    width: 60%;
}

.event-controls .actions {
    order: 2;
    width: calc(100% - 1em);
    height: 10%;
    margin-top: 2%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: grid;
    grid-template-areas: ". . delete-event"
                         ". . .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.event-controls .actions .delete-event {
    grid-area: delete-event;
}

.event-controls .actions button {
    margin: 0.5em;
}
