
.container {
    width: 100%;
    display: flex;
}

.file-select {
    order: 1;
    flex: 1;
    width: 80%;
}

.file-select .audio-input button,
.file-select .chart-input button {
    width: 11em;
}

.file-select .audio-input label,
.file-select .chart-input label {
    margin-left: 1em;
}

.reset {
    order: 2;
    margin-top: 2em;
    margin-right: 1em;
}
