<div class="actions">
    <button class="add-note" mat-raised-button color="primary" (click)="service.addNote()" [matTooltip]="'Add Note'" [matTooltipClass]="'app-tooltip'" >Note</button>        
    <button class="add-bpm-change" mat-raised-button color="primary" (click)="service.addBPMChange()" [matTooltip]="'Add BPM Change'" [matTooltipClass]="'app-tooltip'">BPM</button>        
    <button class="add-ts-change" mat-raised-button color="primary" (click)="service.addTSChange()" [matTooltip]="'Add Time Signature Change'" [matTooltipClass]="'app-tooltip'">TS</button>        
</div>
