<div class="actions">
    <button class="add-note" mat-raised-button color="primary" (click)="service.addNote()" [matTooltip]="'Add Note'" [matTooltipClass]="'app-tooltip'">Note</button>        
    <button class="add-bpm-change" mat-raised-button color="primary" (click)="service.addBPMChange()" [matTooltip]="'Add BPM Change'" [matTooltipClass]="'app-tooltip'">BPM</button>        
    <button class="add-ts-change" mat-raised-button color="primary" (click)="service.addTSChange()" [matTooltip]="'Add Time Signature Change'" [matTooltipClass]="'app-tooltip'">TS</button>        
    <button class="add-practice-section" mat-raised-button color="primary" (click)="service.addPracticeSection()" [matTooltip]="'Add Practice Section'" [matTooltipClass]="'app-tooltip'">Practice</button>        
    <button class="add-solo-toggle" mat-raised-button color="primary" (click)="service.addSoloToggle()" [matTooltip]="'Add Solo Toggle'" [matTooltipClass]="'app-tooltip'">Solo</button>        
    <button class="add-star-power-toggle" mat-raised-button color="primary" (click)="service.addStarPowerToggle()" [matTooltip]="'Add Star Power Toggle'" [matTooltipClass]="'app-tooltip'">Star Power</button>        
    <button class="add-phrase" mat-raised-button color="primary" (click)="service.addLyricToggle()" [matTooltip]="'Add Phrase'" [matTooltipClass]="'app-tooltip'">Phrase</button>        
    <button class="add-lyric" mat-raised-button color="primary" (click)="service.addLyric()" [matTooltip]="'Add Lyric'" [matTooltipClass]="'app-tooltip'">Lyric</button>        
</div>
