<ng-container *ngIf="green">
    <svg:circle [attr.cx]="note.x" [attr.cy]="note.y" color="green"></svg:circle>
</ng-container>
<ng-container *ngIf="red">
    <svg:circle [attr.cx]="note.x" [attr.cy]="note.y" color="red"></svg:circle>
</ng-container>
<ng-container *ngIf="yellow">
    <svg:circle [attr.cx]="note.x" [attr.cy]="note.y" color="yellow"></svg:circle>
</ng-container>
<ng-container *ngIf="blue">
    <svg:circle [attr.cx]="note.x" [attr.cy]="note.y" color="blue"></svg:circle>
</ng-container>
<ng-container *ngIf="orange">
    <svg:circle [attr.cx]="note.x" [attr.cy]="note.y" color="orange"></svg:circle>
</ng-container>
