<div class="ch-tap-input">
    <div class="ch-tap-input-controls">
        <button md-icon-button color="primary" (click)="play()">
            <i class="fa fa-play fa-2x" aria-hidden="true" aria-label="Play"></i>
        </button>
        <button md-icon-button color="primary" (click)="stop()">
            <i class="fa fa-stop fa-2x" aria-hidden="true" aria-label="Stop"></i>
        </button>
    </div>
    <div class="ch-tap-input-save">
        <button md-raised-button color="primary" (click)="save()">Save</button>
    </div>
    <div class="ch-tap-input-box">
        <md-form-field class="ch-tap-input-box">
            <p class="mat-body-1">{{message}}</p>
            <input mdInput placeholder="Tap here!" (keydown)="addTime()">
        </md-form-field>
    </div>
    <div class="ch-tap-input-times">
        <div *ngFor="let time of times">
            <p class="mat-body-1">{{time}}</p>
        </div>
    </div>
</div>