<div class="app mat-app-background mat-typography">
    <div class="title">
        <h1 class="mat-display-4">Chart Hero</h1>            
    </div>
    <app-file-select></app-file-select>
    <app-track-selector></app-track-selector>
    <app-audio-player-controls></app-audio-player-controls>
    <app-converter></app-converter>
    <div class="editor">
        <app-fretboard [fretboard]="fretboard"></app-fretboard>
        <app-scrollbar></app-scrollbar>
    </div>
    <app-note-controls></app-note-controls>
    <app-file-download></app-file-download>
</div>
