<div class="ch-app mat-typography">
  <div class="ch-app-header">
      <h1 class="mat-display-4">Chart Hero</h1>
  </div>
  <div class="ch-app-sidebar">
    <md-list>
      <md-list-item><button md-button>Overview</button></md-list-item>
      <md-list-item><button md-button>Metadata</button></md-list-item>
      <md-list-item><button md-button>Tap Input</button></md-list-item>
      <md-list-item><button md-button>Chart Editor</button></md-list-item>
      <md-list-item><button md-button>Chart Preview</button></md-list-item>
    </md-list>
  </div>
  <div class="ch-app-content">
  </div>
</div>
