
.app {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: ". . file-select"
                         "track-selector editor ."
                         "audio-player-controls editor ."
                         "converter editor ."
                         ". editor ."
                         ". editor exporter";
    grid-template-columns: 20% 2fr 1fr;
    grid-template-rows: 8.25em 2.25em 4.25em 3.25em 1fr 4.25em;
}

.app app-file-select {
    grid-area: file-select;
}

.app app-track-selector {
    grid-area: track-selector;
}

.app app-audio-player-controls {
    grid-area: audio-player-controls;
}

.app app-converter {
    grid-area: converter;
}

.app app-editor {
    grid-area: editor;
}

.app app-exporter {
    grid-area: exporter;
}
