
.editor {
    display: grid;
    width: 99%;
    height: 99.30%;
    margin-left: 1%;
    grid-template-areas: "chart-view . scrollbar";
    grid-template-columns: 19fr 0.5em 1em;
    grid-template-rows: 99.30%;
}

.editor app-chart-view {
    grid-area: chart-view;
}

.editor app-scrollbar {
    grid-area: scrollbar;
}
