
.note-controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.note-controls .info {
    order: 1;
}

.note-controls .info label {
    width: 15%;
    margin-left: 5%;
}

.note-controls .info input {
    width: 80%;
}

.note-controls .note-type-guitar {
    order: 2;
    height: 10%;
    margin-top: 2%;
}

.note-controls .note-type-ghl {
    order: 2;
    height: 20%;
    margin-top: 2%;
}

.note-controls .step-controls {
    order: 3;
    width: 80%;
    height: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.note-controls .step-controls .group {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.note-controls .step-controls .group .button {
    color: white;
}

.note-controls .step-controls .group .down {
    margin-top: 0.65em;
}

.note-controls .step-controls .group .up {
    margin-top: -0.60em;
}

.note-controls .step-controls .group mat-form-field {
    width: 3em;
}

.note-controls .time-controls {
    order: 4;
    width: 80%;
    height: 6%;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
}

.note-controls .actions {
    order: 5;
    width: calc(100% - 1em);
    height: 10%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: grid;
    grid-template-areas: ". . . delete-note"
                         ". . . .";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.note-controls .actions .delete-note {
    grid-area: delete-note;
}

.note-controls .actions button {
    margin: 0.5em;
}
