<div class="scrollbar">
    <svg (click)="clickScrollbar($event)" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="none" shape-rendering="geometricPrecision">
        <rect (click)="moveForwards($event)" x="0" y="0" width="100" height="3" fill="white"></rect>
        <rect [matTooltip]="audioPlayer.currentTime" [matTooltipPosition]="'right'" [matTooltipClass]="'scrollbar-tooltip'" (mousedown)="clickHandle($event)"
            (window:mousemove)="moveHandle($event)" (window:mouseup)="releaseHandle($event)" x="0" [attr.y]="handlePosition" width="100" [attr.height]="height"
            fill="white"></rect>
        <rect (click)="moveBackwards($event)" x="0" y="97" width="100" height="3" fill="white"></rect>        
    </svg>
</div>
