<div class="ch-audio-upload">
    <md-list>
        <md-list-item>
            <p>Select an audio file to continue. Remember to add some silence to the start of your file so the chart doesn't
                begin right away.</p>
        </md-list-item>
        <md-list-item class="ch-audio-upload-audio-select">
            <input [hidden]='true' #inputAudio type="file" (change)="audioStore.file = $event.target.files[0]" />
            <button md-raised-button color="primary" (click)="inputAudio.click()">Select audio file</button>
            <label *ngIf="audioStore.name" class="body-1">{{audioStore.name}}</label>
        </md-list-item>
        <md-list-item>
            <p>After selecting a file you can either upload a chart to edit, or use the tap input to begin creating a new chart</p>
        </md-list-item>
    </md-list>
</div>