<div class="ch-chart-preview">
    <div class="ch-chart-preview-controls">
        <button md-icon-button color="primary" (click)="play()">
            <i class="fa fa-play fa-2x" aria-hidden="true" aria-label="Play"></i>
        </button>
        <button md-icon-button color="primary" (click)="stop()">
            <i class="fa fa-stop fa-2x" aria-hidden="true" aria-label="Stop"></i>
        </button>
    </div>
    <div class="ch-chart-preview-display">
        <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg">
            <line x1="0" x2="100%" [attr.y1]="zeroPosition + '%'" [attr.y2]="zeroPosition + '%'" stroke="white"
                stroke-width="4"></line>
            <line *ngFor="let beat of beats" x1="0" x2="100%" [attr.y1]="beat.position + '%'" [attr.y2]="beat.position + '%'" stroke="white"
                stroke-width="2"></line>
            <circle *ngFor="let note of notes" r="1em" [attr.cx]="note.x + '%'" [attr.cy]="note.y + '%'" [attr.fill]="note.color"></circle>
        </svg>
    </div>
</div>