
.note-controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.note-controls .info {
    order: 1;
}

.note-controls .info label {
    width: 15%;
    margin-left: 5%;
}

.note-controls .info input {
    width: 80%;
}

.note-controls .note-type-guitar {
    order: 2;
    height: 10%;
    margin-top: 2%;
}

.note-controls .note-type-ghl {
    order: 2;
    height: 20%;
    margin-top: 2%;
}
