<div class="note-controls">
    <ng-container *ngIf="selected">
        <mat-list class="info">
            <mat-list-item>
                <label class="body-1">Id: </label>                
                <input [ngModel]="id" matInput [readonly]="true" type="number">
            </mat-list-item>
            <mat-list-item>
                <label class="body-1">Time: </label>                
                <input [ngModel]="time" matInput [readonly]="true" type="number">
            </mat-list-item>
        </mat-list>
        <app-note-controls-guitar *ngIf="isGuitarNote" class="note-type-guitar" [type]="type" (changed)="typeChanged($event)"></app-note-controls-guitar>
        <app-note-controls-ghl *ngIf="isGHLNote" class="note-type-ghl" [type]="type" (changed)="typeChanged($event)"></app-note-controls-ghl>
    </ng-container>
</div>
