
.keybindings-modal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "title reset close"
                         "message message message"
                         "keybindings keybindings .";
    grid-template-columns: 1fr 3em 3em;
    grid-template-rows: 3em 2em 1fr;
}

.keybindings-modal .title {
    grid-area: title;
}

.keybindings-modal .reset {
    grid-area: reset;
    margin-left: 1em;
}

.keybindings-modal .close {
    grid-area: close;
    margin-left: 1em;
}

.keybindings-modal .message {
    grid-area: message;
    margin-left: 1em;
}

.keybindings-modal .keybindings {
    grid-area: keybindings;
    margin: 1em;
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
}

.keybindings-modal .keybindings .keybinding {
    width: 38em;
    margin-bottom: 1em;
    padding: 1em;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
}

.keybindings-modal .keybindings .action {
    display: inline-block;
    width: 25em;
    margin-right: 1em;
}

.keybindings-modal .keybindings .key {
    display: inline-block;
    width: 8em;
}
