
.keybindings-modal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "title close"
                         "keybindings .";
    grid-template-columns: 1fr 2em;
    grid-template-rows: 3em 1fr;
}

.keybindings-modal .title {
    grid-area: title;
}

.keybindings-modal .close {
    grid-area: close;
}

.keybindings-modal .keybindings {
    grid-area: keybindings;
    margin: 1em;
}

.keybindings-modal .keybindings .keybinding {
    margin-bottom: 1em;
}

.keybindings-modal .keybindings .action {
    display: inline-block;
    width: 20em;
    margin-right: 1em;
}

.keybindings-modal .keybindings .key {
    display: inline-block;
    width: 10em;
}
